body{
    background: #546E7A;
    padding: 80px 0 0 0;
}

body, input, button{
    font-family: 'Roboto', sans-serif;;
}

header{
    width: 100%;
    height: 80px;
    position: fixed;
    padding: 15px;
    top:0px;
    left: 0px;
    z-index: 5;
    background: #009688;
    box-shadow: 0px 4px 6px rgba(44, 62, 80, 0.3 ); /*x,y,blur,opacity*/
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

header input{
    width: 100%;
    height: 50px;
    color: #fff;
    float: left;
    font-size: 20px;
    font-weight: 400;
    text-indent: 25px;
    padding: 0 60px 0 0;
    background: rgba(255,255,255,0.2);
    border-radius:10px 25px 25px 10px ;
    border: 0px;
    box-shadow: none;
}

header button{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 2;
    border-radius: 25px;
    background: #fff;
    border: none;
    /*box-shadow: none;*/
    /*outline: none;*/
}

header button svg{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20%;
    left: 20%;

}

header button svg.fill{
    /*change the color of svg pending*/
}

/*pseudo selector for input placeholder & change the color*/

header input::-webkit-input-placeholder{
    color: rgba(255,255,255,0.75);
}

/*style for todo list*/
.container{
   width: 100%;
   float: left;
    padding: 15px;
}

ul.todo{
    width: 100%;
    float: left;
}

ul.todo li{
    width: 100%;
    height: 50px;
    float: left;
    font-size: 20px;
    font-weight: 500;
    color: #444;
    position: relative;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 2px rgba(44, 62, 80, 0.2 );
    margin-bottom: 10px;
    padding: 14px 100px 14px 14px;
}

/*remove the margin from last item*/
ul.todo li:last-of-type{
    margin-bottom: 0px;
}

/*add button to list*/
ul.todo li .button{
    width: 100px;
    height: 50px;
    position: absolute;
    top: 0px;
    right: 0px;
}

ul.todo li .button button{
    width: 50px;
    height: 50px;
    float: left;
    position: relative;
    border:0px;
    background: none;
    outline: none;
}

ul.todo li .button button svg{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20%;
    left: 20%;
}

ul.todo#complete{
    padding-top: 60px;
    position: relative;
}

ul.todo#complete:before{
    content: '';
    width: 150px;
    height: 2px;
    background: #aaa;
    position: absolute;
    top: 30px;
    left: 44%;
}

ul.todo#todoLi:empty:after{
    content: 'You have nothing in To-Do';
    margin-top: 30px;
}

ul.todo#complete:empty:after{
    content: 'You have yet to complete any task';
}

ul.todo#todoLi:after,
ul.todo#complete:after{
    width: 100%;
    display: block;
    text-align: center;
    font-size: 20px;
    color: #aaa;
}
